.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px; /* 15px rounded corners */
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* If window is 0 to 990px */
@media (max-width: 990px) {
  .card{
    margin-left: 10px;
    margin-right: 10px;
  }
}
